@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.top-phone,.top-email
		font-size: 25px
	.sect-1 .trac-content .yel span
		right: 40px
	.sect-7
		.sect-3__content
			display: block

		.left-trac 
			width: 100%
			.sect-3__text
				padding-top: 0
			.h4
				position: static
				padding-right: 56px
		.right-trac 
			width: 100%
			.sect-3__text
				padding-top: 0
			.h4
				position: static
				padding-left: 56px
		.center-trac
			margin-left: 30px
	.t-center
		width: 100%
		margin-bottom: 60px
	.yellow-location
		right: 0px
		bottom: 159px
		font-size: 16px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.yellow-location
		position: static
		text-align: left
		.block2 img
			float: none
		&:after
			display: none
	footer
		text-align: center
	.sect2_n2, .sect2_n4
		span
			line-height: 100px
	.sect-2__header
		margin-top: 70px
	.sect-1 .trac-content .yel span
		position: static
		font-size: 35px
	.sect-1 .trac-content .yel
		font-size: 20px
	.header-content .social
		margin-bottom: 10px
	header
		background-size: cover
	.top-line
		text-align: center
		.top-phone,.top-email
			text-align: center
			line-height: 50px
	.sect2__you, .sect2__we
		display: none
	.sect-2
		.number
			width: 250px
			margin: 0 auto
	.sect-2__content .number
		position: static
		span
			margin-right: 10px
	.sect2_n2	
		p
			&:last-child
				display: block!important
			&:first-child
				display: none
	.sect-3__header
		text-align: center
		&::before
			top: -37px
	.sect-3__content
		padding-left: 10px
		padding-right: 10px
		text-align: center
		padding-bottom: 15px
		width: 100%
		margin-left: 0
		.sect-3__img
			position: static
	.trac-icon
		display: block
		margin-top: 30px
		img
			padding-bottom: 15px
	.sect-3__content .h4
		margin-left: 0
	.sect-4 .sect-3__content
		padding-left: 0
		padding-left: 10px
		&::after
			display: none
		.square
			display: none
	.sect-5 
		.sect-3__content
			margin-top: 0
			.trac-icon
				margin-top: 0
	.sect-6 
		.h4
			margin-left: 50px
			margin-right: 50px
	.sect-7
		.sect-3__content
			padding-left: 10px
			padding-bottom: 30px
		.center-trac
			margin-left: 0
	.sect-7 .sect-3__content .h4
		margin-left: 0
	.t-center
		text-align: center





/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.trac-content
		text-align: center
	.sect-1 .trac img
		display: none
	.sect-1 .trac-content .yel
		margin-left: 0

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.sect-1 .trac-content
		margin-top: 50px
		p
			padding-right: 0
			margin-top: 20px
	.top-form
		width: 320px
	.header-content 
		.social
			margin-bottom: 15px
		span
			padding: 15px 20px
	h1
		font-size: 95px
		text-align: center
		p
			padding: 10px!important
			line-height: 80px!important
	header
		min-height: 770px
	.sect-6 
		.h4
			margin-left: 0
			margin-right: 0




/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

